.nav {
  padding-left: 15px;
  padding-top: 15px;
  grid-area: n;
  background-color: aliceblue;
}

.item {
  color: rgb(26, 25, 25);
  text-decoration: none;
}

.active {
  color: gold;
  text-decoration: none;
}
